body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;  /*16px = 100% = 1em - en este caso 90px = 90/16 = 5.625*/
    color: #66BFBF;
    line-height: 2;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

hr {
    width: 4%;
    border: none;
    border-top: 10px dotted #eaf6f6;
    margin: 100px auto;
}

a {
    color: #11999e; 
}

a:hover{
    color: #eaf6f6;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    top: 450px;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.img-skill-1 {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.img-skill-2 {
    width: 15%;
    float: right;
    margin-left: 30px;
}

.photo-profile {
    margin-top: 25px;
    width: 15%;
}

.profile > p {
    color: #40514E;
}

.contact-me {
    margin: 50px auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container {
      background-color: #66BFBF;
      padding: 50px 0 20px;
      margin: none;

  }

  .footer-link {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: auto 25px;
    text-decoration: none;
  }

  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px auto;
  }